p Total #{peoples.length} results found
table.search_results
  thead
    tr
      td first name
      td last name
      td gender
      td city
      td address
  tbody
  for user in peoples
    tr
      td= user.firstname
      td= user.lastname
      td= user.gender
      td= user.home_city
      td= user.home_address

